# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

# JS
node_modules/

#Hardhat files
cache_hardhat/
artifacts/
deployments/localhost

#Hardhat plugin files
typechain-types/

pp.json
id